body {
    font-family: 'Indie Flower', cursive;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.main-container {
    height: 500px;
    width: 500px;
    margin: 0 auto;
    border: 10px solid white;
    border-radius: 15px;
    display: grid;
    background: #00b7ff;
}

.grid-div {
    border-radius: 5px;
    border: 1px solid black
}

